@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #1E1E1E;
  color: white;
}

/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 0rem;
  height: 0;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}
